body {
    margin: 0;
}

main {
    padding: 12px;
    background-color: #ca82ed;
}

h1 {
    font-family: Verdana;
    font-size: 50px;
    text-align: center;
    background-color: #ca82ed;
    margin-bottom: 0px;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

figcaption {
    text-align: center;
    font-size: 20px;
    margin: 15px 0px 5px 0px;
}

.container-img {
    background-color: #efcffa;
    margin: 15px auto;
    padding: 10px;
}

p {
    font-family: 'Courgette', cursive;
    text-align: center;
    background-color: #ca82ed;
    font-size: 25px;
    
}

li {
    font-family: 'Cookie', cursive;
    font-size: 30px;
}

h2 {
    font-family: 'Cookie', cursive;
    font-size: 35px;
    text-align: center;
    margin: 10px;
}

ul {
    max-width: 550px;
    margin: 0 auto 30px auto;
    text-align: left;
}

h4 {
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    font-size: 18px;
}

.link {
    font-family: 'Pacifico', cursive;
    color: #bf1313;
    font-size: 20px;
}

blockquote {
    font-size: 30px;
    font-family: 'Great Vibes', cursive;
    text-align: center;
}